@use "../../utils/utils" as *;

.header06 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .innerHeader {
        font-size: 12px;
        font-weight: bold;
        width: calc(100% - 100px);
        margin: 0 auto;
        padding: 30px 0 20px;
        @include mq() {
            width: calc(100% - 20px);
            margin: 0 0 0 auto;
            padding: 0 63px 0 0;
        }
        .upper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width:1299px) {
                margin: 0 0 20px 0;
                padding: 0 0 20px 0;
                border-bottom: 1px solid #ccc;
            }
            @include mq() {
                margin: 0;
                padding: 0;
                border-bottom: none;
            }
            .left {
                display: flex;
                align-items: center;
                gap: 0 20px;
                @include mq() {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px 0;
                }
                .logo {
                    width: auto;
                    height: 40px;
                    @include mq() {
                        height: 28px;
                    }
                }
            }
            .center {
                @media screen and (max-width:1299px) {
                    display: none;
                }
            }
            .right {
                .pc-headContactBtn {
                    color: #fff;
                    padding: 16px 32px;
                    border-radius: calc(Infinity * 1px);
                    background: #1C8094;
                    transition: .5s;
                    &:hover {
                        background: #0F5198;
                    }
                    @include mq() {
                        display: none;
                    }
                }
                .sp-headContactBtn {
                    display: none;
                    @include mq() {
                        display: block;
                        img {
                            height: 69px;
                        }
                    }
                }
            }
        }
        .lower {
            display: none;
            @media screen and (max-width:1299px) {
                display: block;
            }
            @include mq() {
                display: none;
            }
        }
    }

    // ナビゲーション共通スタイル
    .navi {
        display: flex;
        justify-content: center;
        gap: 0 40px;
        @media screen and (max-width:900px) {
            gap: 0 20px;
            font-size: 11px;
        }
    }
    .active {
        color: #1C8094;
    }
}
