@use "../../utils/utils" as *;

.header04 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #333;
    .innerHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 56px);
        margin: 0 auto;
        .left {
            .logo {
                height: 40px;
            }
        }
        .headerMenu {
            display: flex;

            // 左揃え
            // justify-content: flex-start;
            // margin: 0 auto 0 40px;

            // 中央揃え
            // justify-content: center;
            // margin: 0 auto;

            // 右揃え
            justify-content: flex-end;
            margin: 0 40px 0 auto;

            gap: 0 40px;
            width: 100%;
            position: relative;
            background: #333;
            li {
                padding: 28px 0;
                a {
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.5s;
                    &:hover {
                        color: #2ED1A2;
                    }
                }
                .active {
                    color: #2ED1A2;
                }
            }
            .megaMenu {
                &:hover {
                    .megaMenuSecond {
                        top: 75px;
                        display: block;
                    }
                }
                .megaMenuSecond {
                    width: 100%;
                    position: fixed;
                    top: 100%;
                    left: 0;
                    color: #fff;
                    padding: 48px;
                    background: #333;
                    display: none;
                    .inner_child_menu {
                        display: flex;
                        gap: 0 28px;
                        width: 100%;
                        max-width: 1100px;
                        margin: 0 auto;
                        ul {
                            width: 25%;
                            li {
                                margin: 0 0 20px 0;
                                padding: 0;
                                &:last-child {
                                    margin: 0;
                                }
                                a {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #fff;
                                    transition: all 0.5s;
                                    &:hover {
                                        color: #2ED1A2;
                                    }
                                }
                            }
                            .heding {
                                padding: 0 0 20px 0;
                                border-bottom: 1px solid #5F5F5F;
                                a {
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 16px;
                                    span {
                                        font-size: 12px;
                                    }
                                }
                            }
                            .subheading {
                                a {
                                    color: #717171;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right {
            .btn {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                width: 148px;
                padding: 14px 24px;
                border-radius: 4px;
                background: #26A782;
                transition: .5s;
                &:hover {
                    color: #26A782;
                    background: #fff;
                }
            }
        }
    }
}
