@use "../utils/utils" as *;

.contact {
    text-align: center;
    // ナビゲーション
    .intro {
        width: calc(100% - 40px);
        margin: 0 auto 100px;
        @include mq() {
            margin: 0 auto 40px;
        }
        ul {
            display: flex;
            justify-content: center;
            li {
                .icon {
                    color: #BFBFBF;
                    margin: 0 0 13px 0;
                    padding: 20px;
                    border: 1px solid rgba($color: $base-color, $alpha: 0.1);
                    border-radius: 50%;
                    background: rgba($color: $base-color, $alpha: 0.1);
                    @include mq() {
                        padding: 16px;
                    }
                }
                .text {
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    color: $base-color;
                    @include mq() {
                        font-size: 11px;
                    }
                }
            }
            li.border {
                width: 110px;
                bottom: 48px;
                border-bottom: 1px solid rgba($color: $base-color, $alpha: 0.1);
                position: relative;
                @include mq() {
                    width: 80px;
                    bottom: 41px;
                }
            }
            li.active {
                .icon {
                    color: #fff;
                    background: $primary-color;
                }
                .text {
                    color: $primary-color;
                }
            }
        }
    }

    // フォーム（Contact Form7利用）
    form {
        width: calc(100% - 100px);
        max-width: 1100px;
        margin: 0 auto;
        @include mq() {
            width: calc(100% - 40px);
        }
        .formWrap { // ul
            margin: 0 0 80px 0;
            @include mq() {
                margin: 0 0 40px 0;
            }
            .formSet { // li
                display: flex;
                justify-content: space-between;
                text-align: left;
                margin: 0 0 20px 0;
                padding: 0 40px 20px;
                border-bottom: 1px solid rgba($color: $base-color, $alpha: 0.1);
                @include mq() {
                    flex-direction: column;
                    gap: 10px 0;
                    padding: 0 0 20px;
                }
                &:first-child {
                    padding: 20px 40px;
                    border-top: 1px solid rgba($color: $base-color, $alpha: 0.1);
                    @include mq() {
                        padding: 20px 0;
                    }
                }
                &:last-child {
                    margin: 0;
                }
                .label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16px;
                    font-weight: bold;
                    width: 28%;
                    @include mq() {
                        justify-content: flex-start;
                        gap: 0 20px;
                        width: 100%;
                    }
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        color: $white-color;
                        padding: 6px 12px 7px;
                        border-radius: calc(Infinity * 1px);
                        background: $danger-color;
                        @include mq() {
                            font-size: 12px;
                            padding: 4px 10px 5px;
                        }
                    }
                }
                .inputWrap {
                    width: 68%;
                    @include mq() {
                        width: 100%;
                    }
                    .wpcf7-form-control-wrap {
                        input,
                        select,
                        textarea {
                            font-size: 16px;
                            line-height: 1.4;
                            width: 100%;
                            padding: 20px 30px;
                            border: none;
                            outline: none;
                            border-radius: 5px;
                            background: rgba($color: $base-color, $alpha: 0.1);
                            @include mq() {
                                font-size: 12px;
                                padding: 16px 18px;
                            }
                        }
                        textarea {
                            resize: vertical;
                            height: 290px;
                            @include mq() {
                                height: 335px;
                            }
                        }
                        .wpcf7-form-control {
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -o-appearance: none;
                        }
                    }
                    .count {
                        li {
                            display: flex;
                            gap: 0 5px;
                            font-size: 12px;
                            font-family: 'Poppins', sans-serif;
                            color: rgba($color: $base-color, $alpha: 0.5);
                            margin: 5px 0 0 0;
                            .wpcf7-character-count {
                                display: block;
                                &::after {
                                    content: "文字";
                                }
                            }
                        }
                    }
                }
                .selectWrap {
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 10px;
                        border: 1px solid;
                        border-color:  transparent transparent rgba($color: $base-color, $alpha: 0.5) rgba($color: $base-color, $alpha: 0.5);
                        position: absolute;
                        top: 50%;
                        right: 30px;
                        transform: translateY(-50%) rotate(-45deg);
                        pointer-events: none;
                        @include mq() {
                            width: 5px;
                            height: 5px; 
                            right: 18px;
                        }
                    }
                }
            }
            .textareaSet {
                align-items: flex-start;
            }
        }
        .agree {
            font-size: 16px;
            margin: 0 0 80px 0;
            @include mq() {
                font-size: 14px;
                margin: 0 0 40px 0;
            }
            .privacy-policy {
                width: 100%;
                margin: 0 auto 40px;
                padding: 60px;
                border: 1px solid $base-color;
                @include mq() {
                    padding: 40px 30px;
                }
                h3 {
                    font-size: 18px;
                    margin: 0 0 24px 0;
                    @include mq() {
                        text-align: left;
                        font-size: 16px;
                        margin: 0 0 16px 0;
                    }
                }
                p {
                    text-align: justify;
                    font-size: 14px;
                    line-height: 2;
                    @include mq() {
                        font-size: 12px;
                        line-height: 1.7;
                    }
                }
            }
            .checkbox-cl01 input {
                display: none;
            }
            // ラベル文字の左側の余白：チェックボックの枠が入るスペース＋ラベル文字との余白
            .checkbox-cl01 input + span {
                padding: 0 0 0 32px;
                display: inline-block;
                position: relative;
            }
            // チェックボックスの枠とチェックマークの共通書式
            .checkbox-cl01 input + span::after,
            .checkbox-cl01 input + span::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
            }
            // チェックボックスの枠
            .checkbox-cl01 input + span::before {
                border: 1px solid rgba($color: $base-color, $alpha: 0.5);
                background: $white-color;
                height: 20px;
                width: 20px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            // チェックマークにチェックが付いていない時
            .checkbox-cl01 input + span::after {
                border: none;
                background-image: url(./img/contact/icon-check.webp);
                background-size: cover;
                background-repeat: no-repeat;
                width: 16px;
                height: 11px;
                top: 50%;
                left: 3px;
                transform: translateY(-50%);
                display: none;
            }
            // チェックマークにチェックが付いた時
            .checkbox-cl01 input:checked + span::after {
                display: block;
            } 
        }
          
        .submitWrap {
            display: flex;
            justify-content: center;
            gap: 0 20px;
            @include mq() {
                gap: 0 10px;
            }
            li {
                width: 410px;
                background: $primary-color;
                transition: .5s;
                @include mq() {
                    width: 100%;
                }
                &:hover {
                    background: $secondary-color;
                }
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    background-image: url(./img/contact/arrow.webp);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 50%;
                    right: 18px;
                    transform: translateY(-50%);
                    @include mq() {
                        width: 11px;
                        height: 11px;
                    }
                }
                .wpcf7-submit,
                .wpcf7-previous {
                    display: block;
                    font-size: 18px;
                    font-weight: bold;
                    color: $white-color;
                    width: 100%;
                    padding: 30px;
                    border: none;
                    background: none;
                    @include mq() {
                        font-size: 14px;
                        padding: 20px;
                    }
                }
                .wpcf7-spinner {
                    display: none;
                }
            }
            .previous {
                width: 205px;
                background: rgba($color: $base-color, $alpha: 0.3);
                @include mq() {
                    width: 100px;
                }
                &::after {
                    background-image: none;
                }
            }
        }
        .wpcf7-not-valid-tip {
            display: block;
            font-size: 16px;
            font-weight: bold;
            color: $danger-color;
            margin: 10px 0 0 0;
            @include mq() {
                font-size: 12px;
                margin: 5px 0 0 0;
            }
        }
        .wpcf7-response-output {
            font-size: 16px;
            font-weight: bold;
            color: $danger-color;
            margin: 40px 0 0 0 !important;
            padding: 0 !important;
            border: none !important;
            @include mq() {
                font-size: 12px;
                margin: 20px 0 0 0 !important;
            }
        }
    }
}
